.main-wrapper {
  position: relative;
}

.search-input-wrapper {
  padding: 2rem;
  margin: 0;
  border-radius: var(--md-radius);
  box-shadow: var(--dark-box-shadow);
  background-color: var(--secondary-bg-color);
  transition: var(--bg-color-transition);
}

.searched-users {
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 2rem;
  border-radius: var(--md-radius);
  box-shadow: var(--dark-box-shadow);
  background-color: var(--secondary-bg-color);
  transition: var(--bg-color-transition);
}

.sort-user-container select {
  width: 250px;
  padding: 0.8rem;
  border: none;
  border-radius: var(--sm-radius);
  box-shadow: var(--dark-box-shadow);
  user-select: none;
  outline: none;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  transition: var(--bg-color-transition), var(--color-transition);
}
