.nav-bottom {
  height: 65px;
  bottom: 0;
  display: none;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.2);
}

.nav-bottom .nav-items-list {
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .nav-bottom {
    display: flex;
  }
}
