:root {
  /* colors */
  --primary-text-color: black;
  --secondary-text-color: grey;
  --primary-bg-color: rgb(255, 255, 255);
  --secondary-bg-color: rgba(251, 251, 251, 0.995);
  --btn-bg-color: rgb(238, 239, 255);
  --btn-hover-bg-color: rgb(222, 225, 255);

  --avatar-bg-color: rgb(3, 11, 108);
  --avatar-text-color: #ffff;

  --light-box-shadow-color: rgba(0, 0, 0, 0.12);

  /* box-shadow */
  --light-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  --dark-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  --link-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 769px) and (max-width: 998px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 58%;
  }
}
