.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer .upload-icon {
  font-size: 2.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.upload-img .preview-img {
  border: 1px solid var(--primary-text-color);
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-top: 1rem;
  font-weight: 500;
}
.upload-img .preview-img span {
  border-right: 1px solid black;
  padding: 0.5rem 0.8rem;
}
.upload-img .preview-img svg {
  width: 28px;
  height: 100%;
  padding: 3px;
  cursor: pointer;
  transition: 250ms background-color ease-in-out;
}

.upload-img .preview-img svg:hover {
  background-color: var(--btn-hover-color);
}
